[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djongo = "*"
django-neomodel = "*"
gunicorn = "*"

[dev-packages]
bandit = "*"
black = "*"
cohesion = "*"
isort = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mypy = "*"
pytest-pylint = "*"
pytest-xdist = "*"
setuptools = "*"
sphinx = "*"
tox = "*"
twine = "*"
versioneer = "*"
wheel = "*"

[requires]
python_version = "3.7"
